html {}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1024px;
    padding: 15px 20px;
}

.padding-site {
    padding: 
}

.photo {
    display: inline-block;
}

.photo img {
    width: 200px;
    height: 200px;
}

.contacts {
    display: inline-block;
    width: 60%;
    text-align: center;
}

.contacts :first-child {
    margin-bottom: 70px;
}

.summary {
    text-align: center;
}

.summary p {
    text-align: left;
}

.technical-skills {
    
}

.technical-skills ul li {
    line-height: 160%;
    padding: 1%
}


.code-exampels details {
    margin-bottom: 30px;
}

.code-exampels pre {
    margin-left: -13%;
}

.experience p {
    
}

.education a {
    line-height: 160%;
}

